@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconsfont/icomoon.eot");
  src: url("../fonts/iconsfont/icomoon.eot") format("embedded-opentype"), url("../fonts/iconsfont/icomoon.ttf") format("truetype"), url("../fonts/iconsfont/icomoon.woff") format("woff"), url("../fonts/iconsfont/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}

.icon-tel:before {
  content: "\e901";
}

.icon-telegram:before {
  content: "\e902";
}

.icon-vk:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #fbf8ec;
}

*::-webkit-scrollbar-thumb {
  background-color: #de6826;
  border-radius: 10px;
}

html._lock {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ak-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ak-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.ak-page {
  flex: 1 1 auto;
}

.ak-section {
  padding: 80px 0;
}

.ak-h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-weight: 700;
  line-height: 30px;
}

.ak-h2 {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: 700;
}

.ak-button {
  border-radius: 20px;
  background: #de6826;
  color: #ffffff;
  padding: 0 10px;
  font-weight: 700;
  font-size: 15px;
}

.ak-p {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.ak-tabs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #000000;
}

.ak-tabs-btn {
  border-radius: 30px;
  color: #ffffff;
  padding: 12px 34px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.ak-tabs-btn._tab-btn-active {
  background-color: #df7c42;
}

.ak-tabs-btn:hover {
  border: 1px solid #df7c42;
}

.header {
  background-color: #e89667;
}

.header__body {
  height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  align-items: center;
  column-gap: 45px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
}

.header__logo-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s;
}

.header__link:hover::after {
  width: 100%;
}

.header__wp-buttons {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header__wp-buttons a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header__btn-auth {
  border: 1px solid #de6826;
  background-color: #fff;
  width: 130px;
  height: 40px;
  color: #de6826;
  transition: 0.2s;
}

.header__btn-auth:hover {
  color: #ffffff;
  background-color: #de6826;
}

.header__btn-register {
  width: 130px;
  height: 40px;
  transition: 0.2s;
}

.header__btn-register:hover {
  color: #de6826;
  background-color: #ffffff;
}

.ak-header-burger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5;
  background-color: #ffffff;
}

.ak-header-burger span {
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 28px;
  height: 3px;
  background: #de6826;
  left: 11px;
}

.ak-header-burger span:nth-child(1) {
  top: 17px;
}

.ak-header-burger span:nth-child(2) {
  top: 23.5px;
}

.ak-header-burger span:nth-child(3) {
  bottom: 16.5px;
}

.ak-header-burger._active span {
  transform: scale(0);
}

.ak-header-burger._active span:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.ak-header-burger._active span:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

.footer {
  padding: 15px 0 40px 0;
}

.footer__wp-logo {
  width: 227px;
  height: 63px;
  display: flex;
  align-items: center;
}

.footer__logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer__body {
  padding-top: 36px;
  margin-top: 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.footer__wp-text {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}

.footer__text {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.footer__wp-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 50px;
}

.footer__contacts {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.footer__contacts-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  max-width: 326px;
}

.footer__contacts-block:nth-child(2) {
  order: 3;
}

.footer__contacts-block a {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.footer__contacts-block a svg {
  width: 18px;
  height: 18px;
  fill: none;
}

.footer__contacts-block a span {
  position: relative;
}

.footer__contacts-block a span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  height: 1px;
  background-color: #000000;
  transition: 0.2s;
}

.footer__contacts-block a:hover span::after {
  width: 100%;
}

.footer__contacts-block span {
  line-height: 20px;
}

.footer__socialNetwork {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer__socialNetwork-link svg {
  width: 45px;
  height: 35px;
  fill: none;
  stroke: #000000;
  transition: 0.1s;
}

.footer__socialNetwork-link:nth-child(1):hover svg {
  stroke: #37aeed;
}

.footer__socialNetwork-link:nth-child(2):hover svg {
  stroke: #577da8;
}

.footer__socialNetwork-link:nth-child(3):hover svg {
  stroke: #de6826;
}

.ak-authorization__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ak-authorization__wrapper {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.ak-authorization__navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.ak-authorization__logo {
  width: 142px;
  height: 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ak-authorization__logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.ak-authorization__list {
  background-color: #000000;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  justify-content: space-between;
}

.ak-authorization__li {
  display: inline-flex;
}

.ak-authorization__link {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  padding: 12px 50px;
  background-color: #000000;
}

.ak-authorization__link._active {
  font-size: 20px;
  background-color: #df7c42;
}

.ak-authorization__body {
  max-width: 948px;
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 60px 140px 75px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ak-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  width: 669px;
}

.ak-form__wp-input {
  position: relative;
  width: 100%;
}

.ak-form__wp-input svg {
  position: absolute;
  left: 35px;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #000000;
  fill: none;
  transition: 0.2s;
}

.ak-form__input {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #000000;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 20px 30px 90px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
}

.ak-form__input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.ak-form__info {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ak-form__info span {
  color: #000000;
}

.ak-form__info a {
  color: #df7c42;
  font-weight: 700;
  font-size: 17px;
  position: relative;
  white-space: nowrap;
}

.ak-form__info a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #df7c42;
  transition: 0.2s;
}

.ak-form__info a:hover::after {
  width: 0;
}

.ak-form__wp-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.ak-form__wp-button a {
  position: relative;
  margin-top: 7px;
  font-weight: 700;
  font-size: 17px;
  color: #df7c42;
}

.ak-form__wp-button a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #df7c42;
  transition: 0.2s;
}

.ak-form__wp-button a:hover::after {
  width: 0;
}

.ak-form__wp-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.ak-form__wp-checkbox span {
  font-size: 17px;
  font-weight: 700;
  margin-left: 15px;
}

.ak-form__wp-checkbox span a {
  text-decoration: underline;
}

.ak-form__wp-checkbox span a::after {
  display: none;
}

.ak-form__wp-checkbox span a:hover {
  text-decoration: none;
}

.ak-form__wp-checkbox input {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.ak-form__wp-checkbox input:checked + .ak-form__checkbox-label::before {
  transform: scale(1);
}

.ak-form__checkbox-label {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

.ak-form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 6px;
  background-color: #df7c42;
  transition: 0.2s;
  transform: scale(0);
}

.ak-form__button {
  padding: 12px 88px;
  font-size: 20px;
  border: 2px solid #df7c42;
  background-color: #df7c42;
  transition: 0.2s;
}

.ak-form__button:hover {
  background-color: #ffffff;
  color: #df7c42;
}

.successfully {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.successfully__content {
  background-color: #ffffff;
  padding: 60px 130px;
  border-radius: 20px;
  border: 3px solid #df7c42;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.successfully__content span {
  color: #df7c42;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.successfully._success {
  opacity: 1;
  visibility: visible;
}

.successfully._success .successfully__content {
  transform: scale(1);
}

.ak-about__body {
  display: flex;
  column-gap: 40px;
}

.ak-about__content {
  flex: 0 1 40%;
}

.ak-about__wp-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 30px;
}

.ak-about__wp-img {
  display: inline;
  max-width: 789px;
  max-height: 790px;
  flex: 0 1 789px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ak-about__img {
  position: absolute;
  z-index: 1;
}

.ak-about__img:nth-child(1) {
  left: 1.0025062657%;
  top: 9.5238095238%;
  width: 35.0877192982%;
}

.ak-about__img:nth-child(2) {
  width: 46.2406015038%;
  right: 1.0025062657%;
  top: 0.8771929825%;
}

.ak-about__img:nth-child(3) {
  width: 37.343358396%;
  z-index: 2;
  top: 46.365914787%;
  left: 30.2005012531%;
}

.ak-about__img-bg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.ak-advantages {
  background: #f5f5f5;
}

.ak-advantages__title {
  text-align: center;
}

.ak-advantages__body {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.ak-advantages__content {
  flex: 0 1 60%;
}

.ak-advantages__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
}

.ak-advantages__item {
  border-radius: 40px;
  padding: 25px 9px;
}

.ak-advantages__item._active {
  border: 2px solid #df7c42;
  background: #f1ddd1;
}

.ak-advantages__item-title {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-weight: 700;
}

.ak-advantages__item-text {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
  max-width: 800px;
}

.ak-advantages__wp-img {
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 3px solid #df7c42;
  overflow: hidden;
}

.ak-advantages__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.ak-questions {
  padding: 40px 0;
  position: relative;
}

.ak-questions::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(223, 124, 66, 0.6) 0%, rgba(255, 120, 44, 0) 100%);
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.ak-questions__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
}

.ak-questions__title {
  text-align: center;
}

.ak-questions__tab:hover {
  border: 1px solid #df7c42;
}

.ak-questions__tab-content {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.ak-questions__tab-content._tab-content-active {
  display: flex;
}

.ak-questions__accordion {
  padding: 10px 20px 10px 45px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.ak-questions__accordion._open .ak-questions__accordion-title {
  padding: 5px 20px;
  border: 2px solid #000000;
  background: rgba(223, 124, 66, 0.3);
}

.ak-questions__accordion._open .ak-questions__accordion-title span {
  margin-left: 25px;
}

.ak-questions__accordion._open .ak-questions__accordion-title img {
  width: 50px;
}

.ak-questions__accordion._open .ak-questions__accordion-button {
  background-color: #000000;
}

.ak-questions__accordion._open .ak-questions__accordion-button::after {
  width: 14px;
}

.ak-questions__accordion._open .ak-questions__accordion-button::before {
  height: 0;
}

.ak-questions__accordion._open .ak-questions__accordion-content {
  padding: 25px 40px 0 0;
  opacity: 1;
}

.ak-questions__accordion._open .ak-questions__accordion-text {
  opacity: 1;
  visibility: visible;
}

.ak-questions__accordion-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.ak-questions__accordion-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.ak-questions__accordion-title span {
  transition: 0.2s;
}

.ak-questions__accordion-title img {
  width: 0;
  transition: 0.2s;
}

.ak-questions__accordion-button {
  background-color: rgba(255, 120, 44, 0.8980392157);
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
}

.ak-questions__accordion-button::after,
.ak-questions__accordion-button::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.ak-questions__accordion-button::after {
  width: 20px;
  height: 5px;
}

.ak-questions__accordion-button::before {
  height: 20px;
  width: 5px;
}

.ak-questions__accordion-content {
  padding: 0 40px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  will-change: max-height;
  transition: all 0.2s;
  box-sizing: content-box;
}

.ak-questions__accordion-text {
  text-align: right;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #000;
  background: rgba(223, 124, 66, 0.3);
  width: 70%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.ak-servicesIntro {
  padding: 50px 0;
}

.ak-servicesIntro__title {
  text-align: center;
  font-size: 64px;
}

.ak-servicesIntro__body {
  margin-top: 40px;
  background: linear-gradient(180deg, rgba(223, 124, 66, 0.6) 0%, rgba(255, 120, 44, 0) 100%);
}

.ak-servicesIntro__content {
  padding-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.ak-servicesIntro__wp-text {
  max-width: 60%;
  position: relative;
}

.ak-servicesIntro__wp-text svg {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 32px;
  fill: none;
  stroke: #000000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.ak-servicesIntro__wp-text svg._vis {
  transform: rotate(180deg);
}

.ak-servicesIntro__img {
  width: 32.8873239437%;
  transform: translateY(-20%);
}

.ak-services__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.ak-services__tabs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  display: none;
}

.ak-services__tabs-content._tab-content-active {
  display: flex;
}

.ak-services__item {
  width: 350px;
  height: 272px;
  border-radius: 20px;
  border: 2px solid #000000;
  background: rgba(223, 124, 66, 0.3);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  position: relative;
}

.ak-services__item span {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  position: relative;
  z-index: 1;
}

.ak-services__item img {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(20%, 10%);
  z-index: 0;
  object-fit: contain;
}

.ak-account__body {
  display: flex;
}

.ak-account__aside {
  flex: 0 1 42.2535211268%;
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(223, 124, 66, 0.05);
}

.ak-account__aside-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 40px 0;
}

.ak-account__aside-item {
  width: 70.3333333333%;
}

.ak-account__aside-button {
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(223, 124, 66, 0.1);
  font-size: 32px;
  font-weight: 700;
  min-width: 100%;
  height: 87px;
  transition: 0.2s;
}

.ak-account__aside-button:hover {
  color: #df7c42;
}

.ak-account__aside-button._tab-btn-active {
  background: rgba(223, 124, 66, 0.5);
  color: #000000;
}

.ak-account__content {
  flex: 0 1 64.0277777778%;
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(255, 255, 255, 0.63);
}

.ak-account__content-tab {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.ak-account__content-tab._tab-content-active {
  display: flex;
}

.ak-account__content-block {
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
}

.ak-account__content-block.block-password-change {
  width: 73.3188720174%;
  padding: 35px 45px 20px 45px;
}

.ak-account__content-block.block-payment-methods {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  border: none;
  box-shadow: none;
}

.ak-account__content-option {
  padding: 25px 10px;
  border-radius: 20px;
  border: 2px solid #df7c42;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.ak-account__content-option span:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
}

.ak-account__content-option span:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
}

.ak-account__content-option p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.ak-account__content-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.ak-account__form {
  margin-top: 28px;
}

.ak-account__form.form-password-change {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.ak-account__form-button {
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #df7c42;
  background-color: #df7c42;
  transition: 0.2s;
}

.ak-account__form-button:hover {
  background-color: transparent;
  color: #df7c42;
}

@media (max-width: 1455px) {
  .ak-container {
    max-width: 1279.98px;
  }
}

@media (max-width: 1279.98px) {
  .ak-container {
    max-width: 991.98px;
  }

  .ak-about__content {
    flex: 1 1 100%;
  }

  .ak-about__wp-img {
    display: none;
  }

  .ak-account__aside-item {
    width: 85%;
  }

  .ak-account__aside-button {
    font-size: 24px;
  }

  .ak-account__content-block.block-password-change {
    width: 95%;
  }

  .ak-account__content-option {
    width: 95%;
  }
}

@media (max-width: 991.98px) {
  .ak-container {
    max-width: 767.98px;
  }

  .ak-h1 {
    font-size: 48px;
  }

  .header__navigate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #e89667;
    padding: 80px 20px 20px 20px;
    z-index: 4;
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
  }

  .header__navigate._active {
    transform: translateY(0);
  }

  .header__list {
    flex-direction: column;
  }

  .header__link {
    font-size: 20px;
  }

  .ak-header-burger {
    display: block;
  }

  .footer__wp-text {
    max-width: 100%;
  }

  .footer__contacts {
    grid-template-columns: repeat(1, auto);
  }

  .ak-authorization__body {
    max-width: none;
    width: 100%;
    padding: 60px 20px 75px 20px;
  }

  .ak-form {
    max-width: none;
    width: 100%;
  }

  .ak-advantages__body {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ak-advantages__content {
    flex: 1 1 100%;
  }

  .ak-questions__tabs-list {
    flex-direction: column;
  }

  .ak-questions__tab {
    text-align: center;
  }

  .ak-questions__accordion-text {
    width: 100%;
    font-size: 18px;
  }

  .ak-servicesIntro__img {
    transform: translateY(30%);
  }

  .ak-services__tabs-list {
    flex-direction: column;
  }

  .ak-services__tab {
    text-align: center;
  }

  .ak-services__tabs-content._tab-content-active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .ak-services__item {
    height: 242px;
  }

  .ak-services__item img {
    width: 60%;
  }

  .ak-account__content-block.block-password-change {
    padding: 35px 15px 20px 15px;
  }

  .ak-account__content-option {
    row-gap: 15px;
  }

  .ak-account__content-option span:nth-child(1) {
    font-size: 30px;
  }

  .ak-account__content-option span:nth-child(2) {
    font-size: 26px;
  }

  .ak-account__content-option p {
    font-size: 18px;
  }

  .ak-account .ak-form__wp-input svg {
    left: 15px;
    width: 30px;
    height: 30px;
  }

  .ak-account .ak-form__input {
    padding: 30px 10px 30px 55px;
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .ak-container {
    max-width: none;
  }

  .ak-section {
    padding: 20px 0;
  }

  .ak-h2 {
    font-size: 32px;
  }

  .footer__body {
    flex-direction: column;
  }

  .footer__wp-contacts {
    align-items: flex-start;
  }

  .ak-authorization__link {
    padding: 12px 21px;
  }

  .ak-form__info {
    flex-direction: column;
    text-align: center;
  }

  .ak-about__wp-text {
    row-gap: 30px;
  }

  .ak-advantages__item {
    padding: 15px 9px;
  }

  .ak-advantages__item-title {
    font-size: 20px;
  }

  .ak-advantages__item-text {
    font-size: 16px;
    line-height: 25px;
  }

  .ak-questions__accordion._open .ak-questions__accordion-title span {
    margin-left: 10px;
  }

  .ak-questions__accordion._open .ak-questions__accordion-title img {
    width: 35px;
  }

  .ak-questions__accordion._open .ak-questions__accordion-title {
    padding: 5px 10px;
  }

  .ak-questions__accordion._open .ak-questions__accordion-content {
    padding: 10px 10px 0 0;
  }

  .ak-questions__accordion-title {
    font-size: 20px;
  }

  .ak-questions__accordion-text {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }

  .ak-servicesIntro__wp-text svg {
    opacity: 1;
    visibility: visible;
  }

  .ak-servicesIntro__text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .ak-servicesIntro__text._vis {
    display: inline-block;
    overflow: auto;
  }

  .ak-servicesIntro__img {
    transform: translateY(0);
  }

  .ak-services__tabs-content._tab-content-active {
    grid-template-columns: repeat(1, 1fr);
  }

  .ak-account__body {
    flex-direction: column;
    align-items: center;
  }

  .ak-account__aside {
    flex: 1 1 100%;
    width: 70%;
    background: transparent;
    border: none;
  }

  .ak-account__aside-list {
    row-gap: 20px;
  }

  .ak-account__aside-button {
    height: 57px;
  }

  .ak-account__content {
    flex: 1 1 100%;
    width: 100%;
    background: transparent;
    border: none;
  }

  .ak-account__content-tab {
    padding: 0;
  }

  .ak-account__content-block.block-payment-methods {
    row-gap: 40px;
  }
}

@media (max-width: 479.98px) {
  .ak-h1 {
    font-size: 32px;
  }

  .ak-h1 {
    font-size: 24px;
  }

  .ak-h2 {
    font-size: 24px;
  }

  .header__navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .header__wp-buttons {
    justify-content: center;
  }

  .ak-form__button {
    padding: 13px;
  }

  .ak-questions__body {
    row-gap: 30px;
  }

  .ak-questions__tabs-list {
    padding: 15px;
  }

  .ak-questions__accordion {
    padding: 10px;
  }

  .ak-questions__accordion-title {
    font-size: 18px;
  }

  .ak-questions__accordion-button {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
  }

  .ak-servicesIntro__wp-text {
    max-width: 100%;
  }

  .ak-servicesIntro__img {
    display: none;
  }

  .ak-services__tabs-list {
    padding: 15px;
  }

  .ak-services__tab {
    font-size: 17px;
  }

  .ak-services__item {
    height: 182px;
    width: 100%;
  }

  .ak-services__item img {
    max-width: 50%;
    max-height: 70%;
  }

  .ak-account__aside {
    width: 100%;
  }

  .ak-account__aside-list {
    row-gap: 10px;
    padding: 20px 0;
  }

  .ak-account__aside-item {
    width: 100%;
  }

  .ak-account__aside-button {
    height: 36px;
  }

  .ak-account__content-block.block-payment-methods {
    row-gap: 20px;
  }

  .ak-account__content-option {
    row-gap: 10px;
  }

  .ak-account__content-option span:nth-child(1) {
    font-size: 24px;
  }

  .ak-account__content-option span:nth-child(2) {
    font-size: 20px;
  }

  .ak-account__content-option p {
    font-size: 16px;
    line-height: 25px;
  }

  .ak-account__content-title {
    font-size: 28px;
  }
}

@media (max-width: 389.98px) {
  .ak-authorization__list {
    padding: 15px 10px;
    gap: 0;
  }

  .ak-authorization__link {
    font-size: 14px;
  }

  .ak-authorization__link._active {
    font-size: 15px;
  }

  .ak-form__wp-input svg {
    left: 15px;
    width: 30px;
    height: 30px;
  }

  .ak-form__input {
    padding: 30px 10px 30px 55px;
    font-size: 18px;
  }

  .ak-form__info a {
    font-size: 14px;
  }

  .ak-form__wp-checkbox span {
    font-size: 15px;
  }

  .ak-form__wp-checkbox a {
    font-size: 15px;
  }

  .ak-account .ak-form__input::placeholder {
    font-size: 14px;
  }
}